<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Chỉnh Sửa Phòng Khoa</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="department-chinhsua-container">
                <!-- Nhảy qua tab sau khi hoàn thành điền dữ liệu -->
                <% departmentDuLieu.forEach(function(item,index){ %>
                    <form method="POST" action="/department-uploaded/">
                        <h1>
                            <p class="text-center">Chỉnh Sửa Phòng Khoa</p>
                        </h1>
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="col-6 mb-3">
                                <label for="iddepartment" class="form-label">Mã phòng khoa</label>
                                <input value="<%=item.id%>" type="text" class="form-control" id="iddepartment"
                                    name="iddepartment">
                            </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-center">
                            <div class="col-6 mb-3">
                                <label for="namedepartment" class="form-label">Tên phòng khoa</label>
                                <input value="<%=item.departmentName%>" type="text" class="form-control"
                                    id="namedepartment" name="namedepartment" required>
                            </div>
                        </div>

                        <div class=" d-flex align-items-center justify-content-end">
                            <button class="btn btn-primary mb-3" type="submit" style="width: 100px">Lưu</button>
                        </div>
                    </form>
                    <% }) %>
            </div>
        </div>
    </div>
</body>

</html>