<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Người dùng</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="user-info-container">
      <form method="POST" action="/user/create-user">
        <div class="container mt-5">
          
          <div class="text-center">
            <h2 class="text-primary text-uppercase">Thêm người dùng</h2>
          </div>

          <div class="row mt-3 d-flex justify-content-center">
            <div class="mb-3 col-3">
              <label for="fullName" class="form-label">Họ tên</label>
              <input type="text" class="form-control" id="fullName" name="fullName" required/>
            </div>
            <div class="mb-3 col-3">
              <label for="userName" class="form-label">Tên người dùng</label>
              <input type="text" class="form-control" id="userName" name="userName" required/>
            </div>
            <div class="mb-3 col-3">
              <label for="userPassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="userPassword" name="userPassword" required/>
            </div>
          </div>

          <div class="row mt-3 row mt-3 d-flex justify-content-center">
            <div class="mb-3 col-3">
              <label for="userPhone" class="form-label">Số điện thoại</label>
              <input type="tel" class="form-control" id="userPhone" name="userPhone" required/>
            </div>
            <div class="mb-3 col-3">
              <label for="userEmail" class="form-label">Email</label>
              <input type="email" class="form-control" id="userEmail" name="userEmail" required/>
            </div>
            <div class="mb-3 col-3">
              <label for="userRole" class="form-label">Vai trò</label>
              <select name="userRole" id="userRole" class="form-select">
                <option selected hidden>Hãy chọn vai trò</option>
                <option value="1">Owner</option>
                <option value="2">Admin</option>   
              </select>
            </div>
          </div>

          <div class="row mt-3 row mt-3 d-flex justify-content-center">
            <div class="mb-3 col-3">
              <label for="userPosition" class="form-label">Vị trí</label>
              <select name="userPosition" id="userPosition" class="form-select">
                <option selected hidden>Hãy chọn vị trí</option>
                <option value="1">Admin</option>
                <option value="2">IT</option>
                <option value="3">Lễ tân</option>
                <option value="4">Bác sĩ</option>
                <option value="5">Dược sĩ</option>
                <option value="6">Điều dưỡng</option>
                <option value="7">Kỹ thuật viên</option>
                <option value="8">Kết nối xét nghiệm</option>
                <option value="9">Kế toán</option>
                <option value="10">Thủ kho</option>
                <option value="11">Bảo vệ</option>
                <option value="12">Khác</option>
              </select>
            </div>
            <div class="mb-3 col-3">
              <label for="userPosition" class="form-label">Khoa Phòng</label>
              <select name="userDepartment" id="userDepartment" class="form-select">
                <option selected hidden>Hãy chọn khoa phòng</option>
                <option value="" class="text-capitalize">Tổ chức cán bộ</option>
                <option value="" class="text-capitalize">Tài chính kế toán</option>
                <option value="" class="text-capitalize">Hành chính quản trị</option>
                <option value="" class="text-capitalize">Điều dưỡng</option>
                <option value="" class="text-capitalize">CDT</option>
                <option value="" class="text-capitalize">Vật tư, trang thiết bị y tế</option>
                <option value="" class="text-capitalize">Quản lý chất lượng</option>
                <option value="" class="text-capitalize">Công tác xã hội</option>
                <option value="" class="text-capitalize">Công nghệ thông tin</option>
              </select>
            </div>
            <div class="mb-3 col-3">
              <label for="userImage" class="form-label">Ảnh chân dung</label>
              <input type="file" class="form-control" id="userImage">
            </div>
          </div>
      
          <div class="row d-flex justify-content-center">
            <div class="col-6 d-flex justify-content-center mt-3 mb-3">
              <button type="submit" class="btn btn-primary">Tạo người dùng</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <hr />
  </body>
</html>
