<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Phòng Khoa</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <title>Phòng Khoa</title>
</head>

<body>
  <h1>Phòng Khoa</h1>
  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="inputIdDepartment" class="col-form-label">Mã khoa phòng</label>
    </div>
    <div class="col-auto">
      <input type="department" id="inputIdDepartment" class="form-control" aria-describedby="department">
    </div>
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label for="inputIdDepartment" class="col-form-label">Tên khoa phòng</label>
      </div>
      <div class="col-auto">
        <input type="department" id="inputIdDepartment" class="form-control" aria-describedby="department">
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
    </form>
</body>

</html>