.create-account-container {
  background-color: #f0f2f5;
  .container {
    min-height: 100vh;
    .row {
      flex-direction: column;
      align-items: center;
      .content-left {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        .brand {
          font-size: 3rem;
          font-weight: 650;
          color: rgb(82, 128, 214);
        }
      }
      .content-right {
        display: flex;
        justify-content: center;
        .create-account-form {
          background-color: white;
          padding: 1.3rem;
          border: 2px solid rgb(220, 219, 219);
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
            0 8px 16px rgba(0, 0, 0, 0.1);
          width: 30rem;
          .title {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 700;
          }
          .detail {
            text-align: center;
            color: #6b6b6b;
          }
          .row {
            display: flex;
            flex-direction: row;
          }
          .btn-primary {
            width: 100%;
            font-weight: 700;
            padding: 0.4rem;
          }
          .input-password {
            position: relative;
            .fa-eye-slash,
            .fa-eye {
              position: absolute;
              top: 30%;
              left: 93%;
            }
          }
          .forgotten {
            text-align: center;
            .forgotten-password {
              text-decoration: none;
              font-size: 1rem;
              &:hover {
                cursor: pointer;
                text-decoration: underline;
              }
            }
          }
          .create {
            text-align: center;
            .btn-success {
              font-weight: 700;
              font-size: 1rem;
              padding: 0.5rem 4rem 0.5rem 4rem;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
