.nav-header{
    .bg-header{
        background-color: #20232a
    }

    .navbar-brand{
        color: #61dafb !important;
    }

    .navbar-nav{
        a, .nav-link{
            color: white !important;
            &:hover {
                color: #61dafb !important;
            }
        }
    }

    .nav-link{
        &.active{
            color: #61dafb !important;
        }
    }

    .dropdown-menu
    {   
        a{
            color: #212529 !important
        }      
    }
}