.nav-header{
    .bg-header{
        background-color: #20232a
    }

    .navbar-brand{
        color: #61dafb !important;
    }

    .navbar-nav{
        a, .nav-link
        {
            font-family: "Roboto","Helvetica","Arial",sans-serif;
            color: white !important;
            &.nav-link-item{
                font-family: "Roboto","Helvetica","Arial",sans-serif;
                color:black !important;
                &.active{
                    color: #61dafb !important;
                }
            }&:hover {
                color: #61dafb !important;
            }
        }
        .active{
            color: #61dafb !important;
        }
    }

    .dropdown-menu
    {   
        a{
            color: #212529 !important
        }      
    }

    .navbar-nav{
        &.navbar-nav-scroll{
            &.show &.dropdown{
                background-color: red;
            }
        }
    } 
}