.file-input-container{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.file-input-container input{
    opacity: 0;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.file-input-container:hover {
    opacity: 0.7;
}

.selected-file-preview-item{
    --bs-gutter-x: 0px!important;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    border: 2px dashed #4267b2; 

    .selected-file-preview-item-info{
        background-color: #ebeef5;
        display: flex;
        border-radius: 15px;
        width: 49%;
        margin-bottom: 10px;
        cursor: pointer;

        .selected-file-preview-delete-item{
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0px;
            transform: translate(30%, -35%);
            // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            cursor: pointer;
            opacity: 0;
            transition: opacity 0.3s ease;
            font-size: 20px;
        }

        .selected-file-preview-item-info-img-type-file{
            display: flex;
            align-items: center;
        }

        .selected-file-preview-item-info-label{
            text-align: left;
            padding-right: 10px;
            margin: auto;
            margin-left: 0px;
            margin-right: 0px;
            .selected-file-preview-item-info-label-file-name{
                word-break: break-all;
                padding-top: 3px;
                line-height: 1.45;
                display: -webkit-box;
                font-size: .92rem;
                overflow: hidden;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .selected-file-preview-item-info-label-file-size{
                margin: 0;
            }
        }
    }

    .selected-file-preview-item-info img{
        width: 80px;
        height: 72px;
    }
}

.selected-file-preview-item-info:hover .selected-file-preview-delete-item{
    opacity: 1;
}
