.container-working-list-calendar{
    margin: 20px;
}

.popoverStyle{
    background-color: #fff59d!important;
    color: #000!important;
}

.popoverContent{
    color: #000;
}

.fc-day-today {
    background-color: gainsboro!important;
    .fc-daygrid-day-top{
        .fc-daygrid-day-number{
            border-radius: 50%;
            border: 2px solid red;
            text-align: center;
            padding: 2.2px;
            width: 12%;
            line-height: 1.4;
            color: red;
            font-weight: 700;
        }
    }
}

.fc-event{
    font-size: 14.5px;
    cursor: pointer;
    .fc-event-title{
        color: black;
    }
}

a.fc-daygrid-dot-event{
    color: black;
}


