//ListDoc.js
.title-doc{
    color: #0d6efd; 
}

.i-add{
    padding-right: 5px;
}

.add-user{
    padding-right: 12px;
}

.status{
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    display: inline-block;
    color: #fff;

    &.ahead{
        background-color: #dc3545;
    }
    &.success{
        background-color: #0cd22f;
    }
    &.wait{
        background-color: #6c757d;
    }
    &.checked{
        background-color: #0dcaf0;
    }
    &.expired{
        background-color: #6c757d;
    }
}

.btn-primary {
    &.add-doc{
        &.btn:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

//ListDocOfDepartment.js
// .btn-primary {
//     &.add-doc{
//         &.btn:focus {
//             outline: none;
//             box-shadow: none;
//           }
//     }
// }